.App {
  padding-top: 10%;
  text-align: center;
  justify-content: center;
  align-content: center;
  background: #17202A;
  padding-bottom: 20%;
}
.home-title{
  color: white;
  margin-bottom: 5%;
  font-size: 50px;
}
.home-btn {
  width: 300px;
  height: 200px;
  font-size: 40px;
  border-radius: 20px;
  border-width: 5px;
}
.table-title {
  font-size: 30px;
}
.home-box{
  margin: 5%;
}

